.form_text {
font-weight: bold;
font-size: 18px;
}
.form_field, .password_field {
    height: 20px;
}
.red {
    border: 1px solid red;
}
.green {
    border: 1px solid green;
}
.link_front_page {
    cursor: pointer;
    color: #0e88e7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
span.checkbox:hover * {
    color: #0e88e7;
    cursor: pointer;
}
.copy_button, .button {
border: none;
border-radius: 4px;
background-color:#b7d7e8; 
color: black;
font-size: 17px;
height: 25px;
}
.subheader {
font-style: italic;
font-size: 14px;
}
.form_validation_field {
    display: none
}
.validation_text {
color:rgb(194, 29, 29)
}

:disabled {
    background-color: #f3f1f1;
}
.balance_field {
    width: 40px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
}

.loader {
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #74bff1; 
    border-radius: 50%;
    width: 7px;
    height: 7px;
    animation: spin 1s linear infinite;
    position: relative;
    top: -20px;
    left: 18px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  td {
      padding-top: 50px;
  }

.table {
    table-layout: fixed;
    margin-top: 100px;
    margin-bottom: 20 px;
    margin-left: 300px;
    margin-right: 300px;
}
.main_header {
    margin-left: 580px;
}
rect {
    fill:rgb(131, 131, 131)
}
rect:hover {
    fill: rgb(66, 66, 66);
}